<a href="https://github.com/luizrabachini" target="blank">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </span>
</a>

<a href="https://www.linkedin.com/in/luizrabachini" target="blank">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
</a>

<a href="https://twitter.com/luizrabachini" target="blank">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
</a>

<a href="https://www.facebook.com/luizrabachini" target="blank">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
</a>
